{% load static %}
{% load mainapp_tag %}
{% load i18n %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>
<div class="header_top">
    <div class="col-sm-3 logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""/></a></div>
    <div class="col-sm-6 nav">
        <ul>
            {% get_categories as categories %}
            {% for category in categories %}
            <li><a href="/">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3 header_right">
        <ul class="header_right_box">
            <li><img src="{% static 'images/p1.png' %}" alt=""/></li>
            <li><p><a href="login.html">Carol Varois</a></p></li>
            <li class="last"><i class="edit"> </i></li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
